{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="glass-card p-5">

        <h1 class="text-center mb-4">

            🌾 About Crop AI Platform

        </h1>

        <p>

            Crop AI Platform is an Artificial Intelligence
            based crop classification system developed
            using Google Earth Engine and Sentinel-2
            satellite imagery.

        </p>

        <hr>

        <h3>🚀 Features</h3>

        <ul>
            <li>Random Forest Classification</li>
            <li>Support Vector Machine</li>
            <li>Sentinel-2 Satellite Images</li>
            <li>Interactive Maps</li>
            <li>CSV Dataset Upload</li>
            <li>Accuracy Assessment</li>
        </ul>

        <hr>

        <h3>🛰 Satellite Data</h3>

        <p>
            Sentinel-2 Surface Reflectance imagery
            from Google Earth Engine.
        </p>

        <hr>

        <h3>🤖 Machine Learning Models</h3>

        <ul>
            <li>Random Forest</li>
            <li>Support Vector Machine</li>
        </ul>

        <hr>

        <h3>🎓 Final Year Project</h3>

        <p>
            AI Based Crop Classification Platform
            using Satellite Imagery and Machine Learning.
        </p>

    </div>

</div>

{% endblock %}